.dim {
    z-index: 1;
}
.repeal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.repeal-box {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #013567;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.repeal-title {
    display: flex;
    flex-direction: row-reverse;
}
.repeal-title {
    cursor: pointer;
}
.repeal-body {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}
.repeal-bottom {
    display: flex;
    justify-content: space-around;
}

.main {
    width: 100%;
    min-height: 80vh;
    background: url(../images/bg.png) center no-repeat;
    background-size: cover;
}
.main-box {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}
/*交易中心*/
.tables {
    width: 85%;
    min-width: 750px;
    color: #013567;
    margin: 0 auto;
}
.table thead tr th {
    border: none;
    text-align: center;
}
.table tbody tr td {
    text-align: center;
    vertical-align: middle;
}
/*去交易title*/
.main-buy {
    padding: 30px 100px;
    border-bottom: 2px solid #ccc;
    display: none;
}
.buy-title {
    display: flex;
}
.title-left {
    width: 100px;
    text-align: center;
    line-height: 52px;
    color: #013567;
    cursor: pointer;
}
.iconTab {
    width: 100px;
    padding: 0;
    border: 1px solid gray;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 216px;
    display: none;
}
.iconTab li:hover {
    color: #fff;
    background-color: #013567;
}
.title-right {
    flex: 1;
    display: flex;
}
.price-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.price {
    min-width: 70px;
    text-align: center;
}
.price span {
    color: #8e8e8e;
    font-size: 12px;
}
.new-price {
    color: orangered;
    font-size: 16px;
}
.height-price {
    color: orangered;
}
.low-price {
    color: #009900;
}
/*去交易详情*/
.buy-body {
    padding: 20px 60px;
    display: none;
    justify-content: space-around;
}
/*.buy-left {*/
    /*width: 55%;*/
/*}*/
.chart {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    border: 1px solid #8e8e8e;
}
.myIcon {
    color: #8e8e8e;
    padding: 10px 5px;
    border: 1px solid #ccc;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
.myIcon div p {
    margin: 10px 0;
}
.buyIcon {
    display: flex;
    justify-content: space-between;
}
.buying {
    margin-right: 15px;
}
.sale {
    margin-left: 15px;
}
.deal {
    color: #8e8e8e;
    padding: 10px;
    border: 1px solid #ccc;
}
.buy-options {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.buy-options div {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.buy-options label {
    min-width: 70px;
}
.buy-options input {
    width: 80%;
    padding: 0 5px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance:textfield;
}
.buy-button {
    width: 80%;
    color: #fff;
    border: none;
    margin: 15px auto 10px;
    display: block;
}
/*.buy-right {*/
    /*width: 42%;*/
/*}*/
.buy-right a {
    color: #013567;
}
.buy-right a:hover {
    text-decoration: none;
}
.buy-right a:focus {
    text-decoration: none;
}
.borders {
    border: 1px solid #ccc;
}
.float-right {
    float: right;
    display: flex;
    align-items: center;
}
.float-right select {
    width: 80px;
    color: #8e8e8e;
    text-align: center;
    text-align-last: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.float-right button {
    height: 20px;
    padding: 0 20px;
    color: #fff;
    background-color: #9aadbe;
    margin-left: 15px;
}
/*底部警告信息*/
.main-bottom {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.warning {
    color: #a82127;
    line-height: 24px;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px){
    .buy-body {
        display: block;
    }
    .iconTab {
        top: 265px;
    }
    .title-right {
        display: block;
    }
    .price-nav {
        width: 100%;
        margin-bottom: 10px;
    }
    .price p {
        margin: 0;
    }
}
@media screen and (max-width: 768px){
    .main-box {
        width: 100%;
        min-height: auto;
    }
    .main-buy {
        padding: 20px 0;
    }
    .iconTab {
        top: 195px;
    }
    .buy-body {
        padding: 10px 10px 20px;
    }
    .main-bottom {
        display: none;
    }
}
@media screen and (max-width: 560px){
    .buyIcon {
        display: block;
    }
    .repeal-box {
        width: 250px;
    }
}