.main {
    width: 100%;
    min-height: 80vh;
    background: url(../images/bg.png) center no-repeat;
    background-size: cover;
}
.main-box {
    width: 1200px;
    background: rgba(13, 16, 51, 0.5);
    margin: 0 auto;
    overflow: hidden;
}
.tables {
    padding: 0 100px;
    margin: 30px 0;
}
/*去交易title*/
.buy-title {
    padding: 30px 100px;
    border-bottom: 2px solid #ccc;
    display: flex;
}
.title-left {
    min-width: 100px;
    text-align: center;
    line-height: 52px;
    color: #013567;
    cursor: pointer;
}
.iconTab {
    width: 100px;
    padding: 0;
    border: 1px solid gray;
    background-color: #fff;
    list-style: none;
    position: absolute;
    top: 216px;
    display: none;
}
.iconTab li:hover {
    color: #fff;
    background-color: #013567;
}
.title-right {
    flex: 1;
    display: flex;
}
.price-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.price {
    min-width: 70px;
    text-align: center;
}
.price span {
    color: #9aafc2;
    font-size: 12px;
}
.price p {
    color: #9aafc2;
}
.new-price {
    color: #ea006f!important;
    font-size: 16px;
}
/*去交易详情*/
.buy-body {
    padding: 20px 60px;
    display: flex;
    justify-content: space-around;
}
.buy-left {
    width: 60%;
    margin-right: 15px;
}
.chart {
    width: 100%;
    height: 402px;
    border: 1px solid #8e8e8e;
}
.myIcon {
    color: #ddd;
    padding: 10px 5px;
    border: 1px solid #ccc;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
.myIcon div p {
    margin: 10px 10px 0 0;
}
.buyIcon {
    display: flex;
    justify-content: space-between;
}
.buying {
    width: 50%;
    margin-right: 15px;
}
.sale {
    width: 50%;
    margin-left: 15px;
}
.deal {
    color: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
}
.buy-options {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.buy-options div {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.buy-options label {
    min-width: 70px;
}
.buy-options input {
    width: 80%;
    background: transparent;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}
.buy-button {
    width: 60%;
    color: #fff;
    border: none;
    margin: 15px auto 10px;
    display: block;
}
.hint {
    color: red;
}
.grid {
    min-width: 480px;
}
.buy-right {
    width: 35%;
    margin-left: 15px;
}
.buy-right a:hover {
    text-decoration: none;
}
.buy-right a:focus {
    text-decoration: none;
}
.entrust-title {
    color: #9aafc2;
}
.borders {
    border: 1px solid #ccc;
}
.table {
    color: #9aafc2;
}
.table thead {
    background: transparent;
}
.table tbody tr td {
    border-top: 1px solid #ddd;
}
.float-right {
    float: right;
    display: flex;
    align-items: center;
}
.float-right select {
    width: 80px;
    color: #8e8e8e;
    text-align: center;
    text-align-last: center;
    border: 1px solid #013567;
    border-radius: 5px;
    background: transparent;
}
.float-right button {
    height: 20px;
    padding: 0 20px;
    color: #fff;
    background: rgba(4, 46, 94, 0.5);
    margin-left: 15px;
}
.newBuy {
    margin: 20px 0;
}
.myEntrust form, .newBuy form {
    height: 200px;
}
/*滚动条样式*/
.table-responsive::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.table-responsive::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.2);
}
.table-responsive::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.5);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
/*弹窗*/
.dim {
    z-index: 1;
}
.repeal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.repeal-box {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #013567;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.repeal-title {
    display: flex;
    flex-direction: row-reverse;
}
.repeal-title {
    cursor: pointer;
}
.repeal-body {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}
.repeal-bottom {
    display: flex;
    justify-content: space-around;
}
/*弹窗 end*/

@media screen and (max-width: 1200px){
    .main-box {
        width: 100%;
    }
    .tables {
        padding: 0 10px;
    }
    .buy-body {
        display: block;
    }
    .buy-left, .buy-right {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 992px){
    .iconTab {
        top: 265px;
    }
    .title-right {
        display: block;
    }
    .price-nav {
        width: 100%;
        margin-bottom: 10px;
    }
    .price p {
        margin: 0;
    }
}
@media screen and (max-width: 767px){
    .main-buy {
        padding: 20px 0;
    }
    .buy-title {
        padding: 30px 10px;
    }
    .iconTab {
        top: 215px;
    }
    .buy-body {
        padding: 10px 10px 20px;
    }
}
@media screen and (max-width: 560px){
    .buyIcon {
        display: block;
    }
    .buying {
        width: 100%;
        margin-right: 0;
    }
    .sale {
        width: 100%;
        margin-left: 0;
    }
    .repeal-box {
        width: 250px;
    }
}