
.carousel-control {
    background-image: none!important;
}
.glyphicon {
    font-size: 15px!important;
}
.glyphicon-chevron-right {
    margin-right: -25%!important;
}
.glyphicon-chevron-left {
    margin-left: -25%!important;
}
.carousel-indicators {
    bottom: 30px!important;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
    border: none;
    background-color: rgba(255,255,255,.4);
}
.carousel-indicators .active {
    width: 16px;
    height: 5px;
    margin: 1px;
    background-color: #fff;
    border-radius: 1000px;
}

.welcome {
    width: 100%;
    color: #fff;
    padding: 7px 0 7px 10%;
    background: rgba(47,51,97,.3);
    border-top: 1px solid rgba(151,153,166,.15);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-body {
    width: 100%;
    min-height: 80vh;
    background: url("../images/bg.png") center no-repeat;
    background-size: cover;
}
.main-box {
    width: 80%;
    color: #fff;
    background: rgba(13, 16, 51, 0.5);
    margin: 0 auto;
    overflow: hidden;
}
.title {
    background: rgba(4, 46, 94, 0.8);
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}
.title p {
    margin: 0;
    font-weight: bold;
}
.menu {
    padding: 0 100px;
    margin: 30px 0;
}
.menus {
    padding: 0 100px;
    margin: 30px 0;
}
.table {
    color: #fff;
}
.table thead {
    background: rgba(4, 46, 94, 0.3);
}
.goBuy {
    color: #fff;
    background: rgba(4, 46, 94, 0.8);
}
.intro {
    line-height: 24px;
}
.link {
    width: 100px;
    height: 100px;
    margin: 30px 0;
}

@media screen and (max-width: 1200px){
    .menus {
        padding: 0 10px;
    }
}
@media screen and (max-width: 768px){
    .head div {
        display: block;
        padding-left: 15px;
    }
    .main-box {
        width: 100%;
        padding: 0;
    }
    .menu {
        padding: 0 10px;
    }
}

