
.main {
    width: 100%;
    height: 80vh;
    min-height: 300px;
    background: url("../images/bg.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box {
    width: 30%;
    min-width: 300px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}
.main-head {
    line-height: 45px;
    text-align: center;
    background-color: #013567;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.main-body {
    text-align: center;
    overflow: hidden;
    background: rgba(2, 56, 107, 0.8);
    padding-bottom: 30px;
}
.main-body input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}
.main-body input:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.main-body input:focus {
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
}
.user {
    margin: 20px auto;
    display: block;
}
.submit {
    width: 170px;
    background-color: #034c99;
    margin: 10px 0 5px;
    color: #fff;
}
.submit:hover {
    color: #fff;
}
.submit:focus {
    color: #fff;
}
.login-bottom {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.login-bottom a {
    color: #fff;
}

