
.main {
    width: 100%;
    height: 80vh;
    min-height: 300px;
    background: url("../images/bg.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box {
    width: 750px;
    min-width: 300px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}
.main-head {
    line-height: 45px;
    text-align: center;
    background-color: #013567;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.main-body {
    max-height: 300px;
    padding: 20px 20px 30px;
    text-align: center;
    overflow-y: auto;
    background: rgba(2, 56, 107, 0.8);
}
/*滚动条样式*/
.main-body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;
    height: 10px;
}
.main-body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5);
}
.main-body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.submit {
    width: 170px;
    background-color: #034c99;
    margin: 10px 0 5px;
    color: #fff;
}
.submit:hover {
    color: #fff;
}
.submit:focus {
    color: #fff;
}

@media screen and (max-width: 767px){
    /*内容*/
    .main-box {
        width: 50%;
    }
    /*内容 end*/
}
