
.main {
    width: 100%;
    height: 80vh;
    min-height: 300px;
    background: url("../images/bg.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box {
    width: 750px;
    min-width: 300px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}
.main-head {
    line-height: 45px;
    text-align: center;
    background-color: #013567;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.main-body {
    text-align: center;
    overflow: hidden;
    background: rgba(2, 56, 107, 0.8);
    padding-bottom: 30px;
}
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.num {
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #8e8e8e;
    border-radius: 50%;
    color: #013567;
}
.step span {
    color: #8e8e8e;
    margin: 0 15px;
}
.color-white1 {
    color: #fff;
}
.bg-white1 {
    background-color: #fff;
}
.color-white2 {
    color: #8e8e8e;
}
.bg-white2 {
    background-color: #8e8e8e;
}
.color-white3 {
    color: #8e8e8e;
}
.bg-white3 {
    background-color: #8e8e8e;
}
.color-white4 {
    color: #8e8e8e;
}
.bg-white4 {
    background-color: #8e8e8e;
}
.step-top {
    display: flex;
    align-items: center;
}
.step-bottom {
    display: flex;
    align-items: center;
}
.line {
    width: 56px;
    height: 2px;
    background-color: #8e8e8e;
    margin-left: 0 !important;
}
.warning {
    color: #ff6d6d;
    font-weight: bold;
    margin-top: 20px;
}
.warning img {
    margin-right: 10px;
}
.message {
    width: 140px;
    text-align: left;
    color: #8e8e8e;
}
.set2 {
    display: none;
}
.set3 {
    display: none;
}
.set4 {
    display: none;
}
.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    margin: 15px auto;
}
.password input {
    text-align: left;
    padding: 0;
    background-color: transparent;
    border: 1px solid #fff;
}
.password input:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.password input:focus {
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance:textfield;
}
.verify input {
    width: 110px;
}
.verify img {
    width: 58px;
}
.agree {
    color: #8e8e8e;
}
.agree a {
    color: #fff;
}
.agree a:hover {
    text-decoration: none;
}
.agree a:focus {
    text-decoration: none;
}
.submit {
    width: 170px;
    background-color: #034c99;
    margin: 10px 0 5px;
    color: #fff;
    padding: 0 12px;
}
.submit:hover {
    color: #fff;
}
.submit:focus {
    color: #fff;
}


@media screen and (max-width: 767px){
    /*内容*/
    .main-box {
        width: 50%;
    }
    .step {
        display: block;
        padding-left: 10px;
    }
    .step span {
        width: 85px;
        text-align: left;
    }
    .step-bottom {
        margin: 15px 0;
    }
    .line {
        display: none;
    }
    /*内容 end*/
}
