.main {
    width: 100%;
    background: url(../images/bg.png) center no-repeat;
    background-size: cover;
}
.main-box {
    width: 80%;
    min-height: 80vh;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}
.user-box {
    display: flex;
    padding: 50px 100px;
    margin-bottom: 50px;
}
/*用户中心菜单*/
.user-menu {
    width: 110px;
    margin-right: 40px;
}
.user-menu a{
    color: #fff;
    border: none;
    background-color: #99aec3;
    padding: 5px 20px;
    width: 110px;
    text-align: left;
    margin: 1px;
    display: inline-block;
}
.user-menu a:hover {
    text-decoration: none;
    background-color: #013567;
}
.user-menu a:focus {
    text-decoration: none;
    background-color: #013567;
}
/*用户中心菜单 end*/
/*title*/
.user-main {
    flex: 1;
    overflow: hidden;
}
.user-title {
    padding: 5px 0;
    border-bottom: 1px solid #013567;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-title span {
    color: #013567;
    font-size: 16px;
    font-weight: bold;
}
.title-right {
    display: flex;
    align-items: center;
}
.title-right select {
    padding: 1px 0;
    text-align: center;
    text-align-last: center;
    color: #8e8e8e;
    border-radius: 3px;
    margin: 0 5px;
}
.title-right button {
    color: #fff;
    padding: 1px 12px;
    background-color: #99aec3;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}
/*title end*/
/*账户资产*/
.myKEY {
    color: #013567;
    margin-bottom: 30px;
    display: flex;
}
.myKEY p {
    margin: 0 20px 0;
}
.myKEY p span {
    margin-right: 5px;
}
.logo {
    width: 20px;
    margin-right: 10px;
}
.top-up {
    margin: 0 5px;
}
/*账户资产 end*/
/*分页*/
.pagination {
    float: right;
}
.pagination ul {
    padding: 0;
    list-style: none;
}
.pagination ul li {
    margin: 0 5px;
    display: inline;
}
/*分页 end*/
/*修改密码*/
.password button {
    width: 200px;
    height: 30px;
    color: #013567;
    background-color: #ccd6e0;
    cursor: pointer;
    border: none;
}
.pwd-button {
    color: #fff!important;
    background-color: #013567!important;
}
.changePwd {
    margin: 30px 0;
}
.changePwd div {
    margin: 15px 0;
}
.changePwd div span {
    display: inline-block;
    text-align: right;
    min-width: 112px;
}
.changePwd div input {
    border-radius: 5px;
    border: 1px solid #013567;
}
.pwd-none {
    display: none !important;
}
/*修改密码 end*/
/*个人信息*/
.mine-list {
    display: flex;
    margin: 20px 0;
}
.mine-list p {
    min-width: 85px;
    text-align: right;
    margin: 0 5px 0 0;
}
.mine-main {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.mine-main p {
    text-align: left;
    margin: 0;
}
.alter {
    cursor: pointer;
}
.mine-city {
    width: 90px;
    display: flex;
    justify-content: space-between;
}
.nickname-input {
    flex: 1;
    display: none;
}
.nickname-input input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
}
.place-select {
    display: none;
}
.sure {
    display: none;
}
/*个人信息 end*/
/*实名认证*/
.identity div span {
    width: 230px;
    height: 150px;
    background-color: #ccc;
    margin: 10px 10px;
    border-radius: 10px;
    display: inline-block;
}
/*实名认证 end*/
/*充币*/
.recharge div {
    margin: 10px 0;
}
.recharge div input {
    border: 1px solid #013567;
    border-radius: 5px;
}
/*充币 end*/
/*提币*/
.iconDress {
    overflow-x: auto;
}
.iconDress-main {
    min-width: 650px;
}
.iconDress-main div {
    text-align: center;
    display: inline-block;
}
.iconDress-main div p {
    padding: 0 20px;
}
.border-right {
    border-right: 1px solid #013567;
}
.iconCount div {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.iconCount div p {
    min-width: 70px;
    margin: 0;
}
.iconCount div input {
    border: 1px solid #013567;
    border-radius: 5px;
}
.iconExplain {
    margin-bottom: 30px;
}
.fetchAddress {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.address-box {
    width: 400px;
    color: #fff;
    background-color: #013567;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.address-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px;
    border-bottom: 1px solid #fff;
}
.address-title span {
    font-size: 16px;
}
.address-title img {
    width: 16px;
    cursor: pointer;
}
.address-main {
    padding: 20px 0 0 20px;
}
.address-main span {
    font-size: 12px;
}
.address-main input {
    color: #000;
    border: 1px solid #013567;
    border-radius: 5px;
}
.address-bottom {
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-around;
}
.address-bottom button {
    height: 22px;
    padding: 0 15px;
}
/*提币 end*/
/*用户中心*/
.center-account {
    display: flex;
    align-items: center;
}
.account-right {
    margin-left: 20px;
}
.account-right p {
    min-width: 45%;
    display: inline-block;
}
.user-body {
    width: 65%;
}
.center-state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 12px;
}
.asset {
    margin: 30px 0;
}
.asset-main {
    display: flex;
    font-size: 12px;
}
.asset-main div {
    margin-right: 50px;
}
.asset-main div p {
    white-space: nowrap;
}
.asset-main div p a {
    margin-right: 50px;
}
.binding {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.binding-box {
    width: 400px;
    height: 200px;
    color: #fff;
    background-color: #013567;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.binding-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px;
    border-bottom: 1px solid #fff;
}
.binding-title span {
    font-size: 16px;
}
.binding-title img {
    width: 16px;
    cursor: pointer;
}
.binding-main {
    padding: 20px;
}
.binding-main span {
    font-size: 12px;
}
.binding-main input {
    color: #000;
    border: 1px solid #013567;
    border-radius: 5px;
}
.binding-bottom {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.binding-bottom button {
    height: 22px;
    padding: 0 15px;
}
/*用户中心 end*/
/*邀请好友*/
.invite-title {
    margin: 0;
}
.invite-button {
    color: #fff;
    padding: 1px 20px;
    margin: 10px 0 20px 10px;
    background-color: #013567;
    border: none;
    border-radius: 5px;
}
.invite {
    color: #fff;
    padding: 2px 20px;
    margin: 0;
    background-color: #013567;
    border: none;
    border-radius: 5px;
}
.poster {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.poster-box {
    width: 250px;
    height: 300px;
    color: #fff;
    padding: 10px;
    background: url("../images/poster.png") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.poster-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.poster-title img {
    width: 20px;
    cursor: pointer;
}
.poster-box div p {
    font-size: 22px;
    float: right;
    margin: 10px 0 0;
}
.poster-main {
    width: 30px;
    border-bottom: 2px solid #fff;
    display: block;
}
.poster-bottom {
    margin: 20px 20px 0;
}
.poster-bottom img {
    width: 190px;
}
/*邀请好友 end*/
/*系统消息*/
.messages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.messages a {
    color: #8e8e8e;
}
.messages-title {
    text-align: center;
    font-size: 16px;
    color: #013567;
}
.messages-time {
    color: #8e8e8e;
    float: right;
    margin-right: 15%;
}
.textPart div {
    color: #8e8e8e;
    margin: 40px 0;
}
/*系统消息 end*/
/*弹窗*/
.dim {
    filter: blur(5px);
}
/*弹窗 end*/
@media  screen and (max-width: 1275px){
    .mine-service {
        display: block;
    }
}
@media screen and (max-width: 870px) {
    .main-box {
        width: 100%;
    }
    .user-box {
        padding: 20px 0;
        display: block;
    }
    .user-title {
        padding-left: 20px;
        margin-top: 20px;
    }
    .user-menu {
        width: 93%;
        margin: 0 auto;
    }
    .user-menu a {
        width: 100px;
    }
    .myKEY {
        display: block;
    }
    .password, .changePwd {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .changePwd button {
        margin-left: 0;
    }
    .user-body {
        margin: 0 auto;
    }
    .binding-box {
        width: 300px;
    }
    .asset-main {
        display: block;
    }
}
@media screen and (max-width: 480px){
    .user-body {
        width: auto;
        padding: 0 10px;
    }
    .identity {
        text-align: center;
        display: block;
    }
    .identity p {
        text-align: center;
    }
    .identity button {
        margin-left: 0;
    }
    .iconCount div {
        text-align: center;
        display: block;
    }
}

