
.highlight {
    color: #fff;
    background-color: #013567;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.header-left {
    padding: 5px 0;
    color: #024d99;
}
.header-right {
    padding: 6px 0;
    color: #024d99;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.language {
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    width: 70px;
    justify-content: center;
    cursor: pointer;
}
.tab-language {
    width: 70px;
    text-align: center;
    padding: 0;
    background-color: #fff;
    position: absolute;
    top: 102px;
    right: 15%;
    list-style: none;
    display: none;
}
.tab-language li:hover {
    color: #fff;
    background-color: #013567;
    cursor: pointer;
}
.none {
    display: none;
}
.flex {
    display: flex;
    align-items: center;
}
.hides {
    display: none;
}
.out {
    color: #a82127;
}

/*响应式导航栏*/
.shabow {
    box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 10px;
}
.logo img{
    margin: 15px 0 0 15px;
}
.navbar {
    margin-bottom: 0;
    min-height: 10px;
}
.navbar-default {
    background-color: #fff;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #013567;
    line-height: 70px;
    padding: 0 10px;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #013567;
}
.navbar-default .navbar-collapse {
    border: none;
    padding: 0;
}
.navbar-default .navbar-toggle {
    margin: 0;
    padding: 0;
    border: none;
}
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.menus {
    margin: 0 15px 0 10px;
}

.green {
    color: #009900;
}
.orange {
    color: orangered;
}
.red {
    color: red;
}
.blue {
    color: #013567;
}
.gray {
    color: #8e8e8e;
}
.bg-red {
    background-color: red;
}
.bg-green {
    background-color: #669900;
}

.service_windows {
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    overflow: hidden;
    display: none;
}
.service_title {
    padding: 5px 15px;
    background-color: #013567;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service_left img{
    width: 30px;
}
.service_left span {
    font-size: 12px;
}
.close {
    width: 15px;
}
.service_body {
    width: 95%;
    height: 150px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 10px auto;
    overflow-y: auto;
}
/*滚动条样式*/
.service_body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;
    height: 10px;
}
.service_body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
}
.service_body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.service_view {
    display: flex;
}
.service_view img {
    min-width: 40px;
    height: 40px;
}
.view_right {
    margin-left: 15px;
    text-align: left;
    width: -webkit-fill-available;
}
.view_main {
    display: flex;
}
.trigon-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 8px solid transparent;
    margin-top: 10px;
}
.view_box {
    width: 70%;
}
.view {
    height: auto;
    min-height: 40px;
    padding: 5px 15px;
    background-color: #fff;
}
.time {
    margin: 5px 15px;
}
.view_left {
    margin-right: 15px;
    text-align: left;
    width: -webkit-fill-available;
}
.flex-end {
    justify-content: flex-end;
}
.trigon-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    margin-top: 10px;
}
.user_input {
    width: 95%;
    height: 80px;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    background-color: #e6e6e6;
    overflow-y: auto;
    resize:none
}
.user_input:focus {
    outline: none;
}
.service_bottom {
    float: right;
    margin: 0 10px 10px 0;
}
.service_bottom button{
    font-size: 12px;
    padding: 3px 25px;
}
.service_bottom button:focus {
    outline: none;
}
.sent {
    color: #fff;
    background-color: #013567;
}
.sent:hover {
    color: #fff;
}
.sent:focus {
    color: #fff;
}


.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}
.footer-left {
    width: 90px;
    height: 90px;
    background: url("../images/logo-1.png") center no-repeat;
    background-size: cover;
}
.footer div {
    text-align: center;
    margin: 0 3%;
}
.qq:hover {
    margin-top: -104px;
}
.wechat:hover {
    margin-top: -104px;
}
.microblog:hover {
    margin-top: -104px;
}
.footer div p {
    margin: 10px 0 0;
}
.qq:hover .code {
    display: block;
}
.wechat:hover .code {
    display: block;
}
.microblog:hover .code {
    display: block;
}
.code {
    width: 100px;
    position: relative;
    bottom: 5px;
    display: none;
}


@media screen and (min-width: 992px){
    .container-fluid {
        padding:  0 14%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .container-fluid {
        padding:  0 6%;
    }
    .tab-language {
        right: 8%;
    }
}
@media screen and (min-width: 768px){
    .header {
        padding: 0 15%;
    }
    .navbar-nav {
        float: right;
        height: 70px;
    }
    .language {
        margin: 25px 15px;
    }
    .footer div {
        min-width: 100px;
    }
}
@media screen and (max-width: 767px){
    .header-right {
        width: 100%;
        margin-right: 0;
        margin-left: 15px;
    }
    .language {
        display: none;
    }
    .tab-language {
        top: 52px;
        left: 58px;
        right: auto;
    }
    .navbar-nav {
        width: 150px;
        background-color: #003466;
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-header:focus {
        outline: none;
    }
    .navbar-default {
        background-color: #f2f2f2;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #f2f2f2;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #f2f2f2;
    }
    .navbar-default .navbar-nav>li>a {
        text-align: right;
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }
    .navbar-default .navbar-collapse {
        position: absolute;
        right: 0;
        top: 49px;
        width: 150px;
    }
    .header-left {
        display: none;
    }
    .none {
        text-align: center;
        display: inline-block;
    }
    .show {
        display: none !important;
    }
    .navbar-default .navbar-nav>li>a {
        margin-left: 30px;
        border-bottom: 1px solid;
        line-height: 40px;
    }

    .service_windows {
        width: 300px;
        margin: -150px 0 0 -150px;
    }
    /*底部*/
    .footer {
        padding: 0;
    }
    .footer-left {
        background-size: 60px 60px;
    }
    .footer div {
        margin: 0;
    }
    .footer div p {
        margin: 0;
    }
    .footer img {
        transform: scale(0.5);
    }
    .code {
        width: 57px;
        bottom: 0;
        transform: scale(1.1)!important;
    }
    .qq:hover {
        margin-top: -60px;
    }
    .wechat:hover {
        margin-top: -60px;
    }
    .microblog:hover {
        margin-top: -60px;
    }
    /*底部 end*/
}